@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: rgba(0, 0, 0.808);
  color: #fff;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.user-form {
  width: 100%;
  max-width: 700px;
}

.user-form input {
  width: 100%;
  padding: 1rem;
  margin-bottom: 2rem;
  display: block;
  border: none;
  border-radius: 5px;
  font-weight: 300;
  font-family: inherit;
  font-size: 1rem;
  box-shadow: 0 5px 10px rgba(154, 160, 105, 0.5),
    0 15px 40px rgba(0, 0, 0, 0.1);
}

.user-form input::placeholder {
  color: #000;
}

.user-form input:focus {
  outline: none;
}

.card {
  max-width: 800px;
  background-color: #fff;
  color: #000;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(154, 160, 105, 0.5),
    0 15px 40px rgba(0, 0, 0, 0.1);
  display: flex;
  padding: 3rem;
  margin: 0 1.5rem;
}

.avatar {
  border-radius: 50%;
  border: 10px solid #12a4d9;
  height: 150px;
  width: 150px;
}

.user-info {
  color: #000;
  margin-left: 2rem;
}

.user-info h2 {
  margin-top: 0;
}

.user-info ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  padding: 0;
  max-width: 400px;
}

.user-info ul li {
  display: flex;
  align-items: center;
}

.user-info ul li strong {
  font-size: 1rem;
  margin-left: 0.5rem;
  font-weight: 600;
}

.repo {
  text-decoration: none;
  color: #000;
  background-color: #fff;
  display: inline-block;
  font-size: 0.7rem;
  padding: 0.25rem 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

@media (max-width: 500px) {
  .card {
    flex-direction: column;
    align-items: center;
  }

  .user-form {
    max-width: 400px;
  }
}
