*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Monserrat',sans-serif;
}
html,body{
    height: 100%;
}
body{
    display: grid;
    place-items: center;
    text-align: center;
}
.content {
    width: 330px;
    background-color: #dde1e7;
    box-shadow: -3px -3px 7px #babecc,
                2px 2px 5px rgba(94,104,121);
    border-radius: 10px;
    padding: 40px 30px;
}
.content .text{
    font-size: 33px;
    font-weight: 600;
    margin-bottom: 35px;
    color: #595959;
}

.content .field {
    height: 50px;
    width: 100%;
    display: flex;
    position: relative;
}

.field input {
    width: 100%;
    height: 100%;
    padding-left: 45px;
    font-size: 18px;
    outline: none;
    background: #dde1e7;
    border-radius: 25px;
    box-shadow: inset 2px 2px 5px #babecc,
                inset -5px -5px 2px 10px #ffffff73;
    border: none;
    color: #595959;
}

.field:nth-child(2) {
    margin-top: 20px;
}


.field span{
    position: absolute;
    width: 50px;
    line-height: 50px;
    color: #595959;
}

.field label {
    position: absolute;
    top: 50%;
    left: 45px;
    pointer-events: none;
    transform: translateY(-50%);
    color: #666666;
}
.field input:focus ~ label {
    box-shadow: inset 1px 1px 2px #babecc,
                inset -1px -1px 2px 10px #ffffff73;
}

.field input:valid ~ label {
    opacity: 0;
}

.forgot-pass{
    text-align: left;
    margin: 10px 0 10px 5px;
}
.forgot-pass a {
    font-size: 16px;
    color: #3498db;
    text-decoration: none;
}

.forgot-pass:hover a {
    text-decoration: underline;
}
#btn {
    margin: 10px 0;
    width: 100%;
    height: 50px;
    font-size: 18px;
    font-weight: 600;
    background: #dde1e7;
    border: none;
    cursor: pointer;
    box-shadow: 1px 1px 2px #babecc,
                -1px -1px 2px 10px #ffffff73;
    color: #595959;
    border-radius: 25px;
    outline: none;
}

.signup{
    font-size: 16px;
    color: #595959;
    margin: 10px 0;
}

.signup a {
    color: #3498db;
    text-decoration: none;
}
.signup a:hover {
    text-decoration: underline;
}
