*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dancing Script', cursive;}
body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: black;
}
.box{
    /* height: 300px; */
    width: 900px;
    padding: 3rem 2rem;
    background: #181717;
    box-shadow: 0 0 30px rgb(255, 96, 122);
    font-size: 40px;
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.name{
    margin-top: 80px;
    margin-left: 30rem;
}

.butt {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  font-size: 40px;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  margin-top: 3rem;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.butt:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glow 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glow {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.butt:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}