* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    background-color: #090221;
  }
  .container {
    background-color: #ffffff;
    font-size: 16px;
    padding: 3em 2.8em;
    width: 90vw;
    max-width: 32em;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 0.6em;
  }
  .search-container {
    width: 100%;
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1.2em;
  }
  .search-container input {
    font-size: 1em;
    padding: 0.6em;
    border: none;
    outline: none;
    border-bottom: 2px solid #202030;
  }
  .search-container button {
    font-size: 1em;
    background-color: #090221;
    border: none;
    font-weight: 600;
    border-radius: 0.3em;
  }
  #search-btn{
      color: #ffffff;
  }
  img {
    display: block;
    width: 50%;
    margin: 1.8em auto 0 auto;
  }
  .details {
    background-color: #090221;
    color: #ffffff;
    position: relative;
    margin: -4.3em 0 0 0;
    text-align: center;
    padding: 0.6em 0;
  }
  .details h2 {
    font-size: 1.2em;
    font-weight: 600;
  }
  .details h4 {
    font-size: 1em;
    font-weight: 400;
  }
  #show-recipe {
    font-size: 1em;
    position: relative;
    left: 75%;
    padding: 0.9em 0.6em;
    background-color: #090221;
    color: #ffffff;
    border: none;
    top: 1.5em;
    border-radius: 0.3em;
    font-weight: 600;
  }
  #recipe {
    position: absolute;
    background-color: #ffffff;
    min-height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    border-radius: 0.6em;
    display: none;
  }
  #recipe pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 2.5em 1.2em 1.2em 1.2em;
    font-size: 0.92em;
    color: #303040;
  }
  #hide-recipe {
    font-size: 1em;
    position: relative;
    width: 1.8em;
    height: 1.8em;
    background-color: #090221;
    color:#ffffff;
    border: none;
    top: 1.2em;
    left: 90%;
    border-radius: 0.3em;
  }
  ul {
    font-size: 1em;
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.8em 1.1em;
    padding: 1.2em 0 0 1.2em;
    color: #303040;
    text-transform: capitalize;
  }
  h3 {
    text-align: center;
    margin-top: 1.8em;
    color: #202030;
  }
  @media screen and (max-width: 500px) {
    .container {
      font-size: 14px;
    }
  }