*{
  margin: 0;
  padding: 0;
}

body {
    background: linear-gradient(300deg,#000000,#400202);
    background-size: 120% 120%;
    animation: gradient-animation 12s ease infinite;
  color: white;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container{
margin-top: 10rem;
  text-align: center;
}

.watermark {
 animation: flow 10s ease-in-out infinite;
 background: linear-gradient(-60deg,#904e95,#904e95,#e73c7e,#ee7752);
 background-size: 300%;
 background-clip: text;
 -webkit-background-clip: text;
 -webkit-text-fill-color:transparent ;
  font-size: 30px;
  text-decoration: dashed;

}

@keyframes flow {
  0%{
    background-position: 0 50%;
  }

  50%{
    background-position: 100% 50%;
  }

  100%{
    background-position: 0 50%;
  }
}

h1 {
  background-image: linear-gradient(
    -225deg,
    #5d596b 0%,
    #363438 29%,
    #000000 67%,
    #d47dd7 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 10s linear infinite;
  animation: ro 10s linear infinite;
  margin-bottom: 30px;
  font-size: 40px;

}


@keyframes ro {
  0%{
    transform: rotate(0deg);
  }
  25%{
    transform: rotate(-10deg);
  }
  50%{
    transform: rotate(0deg);
  }
  75%{
    transform: rotate(10deg);
  }
  100%{
    transform: rotate(0deg);

  }
}
input {
  width: 100px;
  font-size: larger;
  border-radius: 10px;
  border: none;
  color: rgb(0, 0, 0);
  background: #005AA7; 
background: -webkit-linear-gradient(to right, #FFFDE4, #005AA7);  
background: linear-gradient(to right, #FFFDE4, #005AA7); 
padding: 10px 10px;
}

code{
  display: none;
  background: #333333; 
  background: -webkit-linear-gradient(to right, #dd1818, #333333);  
  background: linear-gradient(to right, #dd1818, #333333); 
  border: #ce6a6a solid 3px; 
  padding:10px;
  margin: 50px 400px;

}

.LightBar {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.LightBar:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.LightBar:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}


#pass {
  font-size: 25px;
  color: rgb(255, 255, 255);
  text-align: center;
}

