@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #090221;
    color: #151515;
    display: grid;
    place-content: center;
    height: 100vh;
}

/* ======================== */

.card {
    position: relative;
    width: 250px;
    height: 250px;
    color: #a18a96;
    text-align: center;
    display: grid;
    place-content: center;
    padding: 10px;
    background: url('./bg.jpg') center no-repeat;
    background-size: cover;
    border-radius: 20px;
    z-index: 1;
    overflow: hidden;
}

.card::before,
.card::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: calc(60% + 35px);
    background-color: #fff;
    transition: transform .5s.25s ease-in;
    z-index: -1;
}

.card::before {
    top: 0;
    clip-path:
        polygon(0 0, 100% 0, 100% 45%, 0% 100%);
    transform: translateY(-100%);
}

.card::after {
    bottom: 0;
    clip-path: polygon(0 55%, 100% 0, 100% 100%, 0% 100%);
    transform: translateY(100%);
}

.card__content {
    opacity: 0;
    transition: opacity .25s;
}

.card__title {
    color: #6A515E;
    margin-bottom: 15PX;
}

.card__description {
    font-size: 14px;
}

.card:hover::before,
.card:hover::after {
    transform: translateY(0);
}

.card:hover .card__content {
    opacity: 1;
    transition-delay: .75s;
}