@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body
{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 40px;
    font-family: 'Roboto', sans-serif;
}
.container{
    position: relative;
    display: flex;
    justify-content:center;
    align-items: center;
    width: 400px;
    height: 600px;
    background-color: #fdfdfd;
}
.card{
    position: relative;
    width: 380px;
    height: 580px;
    margin: 50px auto;
    background-color: #fafafa;
    box-shadow: 0 2px 7px #dfdfdf;;

}
.badge {
    position: absolute;
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: red;
    color: #fff;
    padding: 3px 10px;
}
.bag{ 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 340px;
    width: 380px;
    padding: 60px;
    background: #f0f0f0;
}
.Product-details{
    padding: 20px 40px;
}
.Product-catagory{
    display: block;
    color: #ccc;
    font-size: 13px;
    margin-bottom: 10px;
    font-weight: 700;
    text-transform: uppercase;
}
.Product-details h4{
    font-size: 20px;
    margin-bottom: 20px;
}
.Product-details h4 a{
    text-decoration: none;
    color:  #363636;
    transition: 0.3s;
}
.Product-details h4 a:hover{
    color: #fbb72c;
}
.Product-details p{
    font-size: 16px;
    line-height: 22px;
    color: #999;
}

.Product-bottom-details {
    padding: 20px;
}
.Product-bottom-details div{
    float: left;
    width: 50%;
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 10px;
}

.Product-price{
 padding-left: 5px;
    font-size: 18px;
    color: #fbb72c;
    font-weight: 900;
}
.Product-price small{
    font-size: 80%;
    font-weight: 600;
    text-decoration: line-through;
    margin-right: 8px;
}

.Product-links{
    text-align: right;
}
.Product-links a{
    display: inline-block;
    margin-left: 2px;
    color: #e1e1e1;
    transition: 0.3s;
    font-size: 20px;
    padding-right: 15px;
}
.Product-links a:hover{
    color: #fbb72c;
}