*{
    margin: 0;
    padding: 0;
    height: 100vh;
}
body{
    background-color: #435114;
}
#clicker{
        height: 55px;
        position: absolute;
        top: 10%;
        left: 90%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        background-color: rgb(12, 119, 226);
        color: white;
        font-size: 16px;
        padding: 12px 24px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        text-align: center;     
}
#clicker:hover{
    background-color: rgb(46, 50, 238);
}

.tooltip{
    position: absolute;
    height: 20px;
background-color: blue;
}

#back{
    height: 55px;
        position: absolute;
        top: 10%;
        left: 5%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        background-color: rgb(22, 29, 34);
        color: white;
        font-size: 16px;
        padding: 12px 24px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        text-align: center;

}
#back:hover{
    background-color: rgb(0, 0, 0);
}

#bback{
    height: 55px;
        position: absolute;
        top: 5%;
        left: 5%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        background-color: rgb(22, 29, 34);
        color: white;
        font-size: 16px;
        padding: 12px 24px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        text-align: center;

}
#bback:hover{
    background-color: rgb(0, 0, 0);
}

.watermark{
    position: absolute;
    right: 0;
    font-size: xx-large;
    transform: rotate(-90deg);
}