@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;

}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(assets/bg.jpg);
    background-size: cover ;
    background-attachment: fixed;
}
.main-container{
    position: relative;
    width: 400px;
    height: 450px;
    
}

.main-container .box-card{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.main-container .box-card li{
    list-style-type: none;
    width: 100px;
    height: 100px;    
    margin: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.05);
    border: 0.5px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 22px;
    backdrop-filter: blur(7px);
}
.main-container .box-card li img{
    width: 85%;
    transition: 0.15s;

}

.main-container .box-card li:hover img{
    transform: rotate(-30deg);
    width: 100%;
}

.main-container .imageBox{
    position: absolute;
    top: 0;
    right: 0;
    width: 350px;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.05);
    border: 0.5px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 22px;
    backdrop-filter: blur(7px);
    padding: 60px 20px;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.main-container .imageBox h2{
    color: #252525;
    font-weight: 800;
    letter-spacing: 0.2;
}

.main-container .imageBox img{
    width: 75%;
    transition: 0.25s;
}

.main-container .imageBox img:hover{
    transform: scale(1.5) rotate(-20deg) translateX(25px) ;
}

.main-container .imageBox .shoesSize{
    display: flex;
    justify-content: center;
    align-items: center;


}

.main-container .imageBox .shoesSize span{
    color: #252525;
    font-size: 1.3em;
    letter-spacing: 0.15px;
    font-weight: 750;
    margin-right: 7px;
}

.main-container .imageBox .shoesSize li{
    list-style: none;
    width: 30px;
    height: 30px;
    background: #fff;
    color: #252525;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    border-radius: 5px;
    font-weight: 700;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.25s;


}

.main-container .imageBox .shoesSize li:hover{
    transform: translateY(-5px);
}

.main-container .imageBox .btn{
    position: absolute;
    bottom: -30px;
    background: #fff;
    display: inline-block;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 30px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
    font-weight: 700;
    color: #252525;
    transition: 0.1s;

}

.main-container .imageBox .btn:hover{
   transform: scale(1.05);
   font-size: 1.1em;
}
