@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

:root{
    --red: grey;
}

*{
    font-family: 'Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    transition:all .3s cubic-bezier(.16,.8,.62,1.52);
    text-transform: capitalize;
}

*::selection{
    background:var(--red);
    color:#fff;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width:1.3rem;
}

html::-webkit-scrollbar-track{
    background: #000;
}

html::-webkit-scrollbar-thumb{
    background: var(--red);
}

body{
    background:#f9f9f9;
}

section{
    min-height: 100vh;
    padding:0 7%;
    padding-top: 9rem;
}

.scroll-top{
    position: fixed;
    bottom: 7rem;
    right: 2rem;
    z-index: 100;
    display: none;
}
.scroll-top i{
    color: #000;
    background-color: #fff;
    font-size: 30px;
}

.footer{
    min-height: auto;
    padding-top: 0;
    background: #333;
}

.footer .box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer .box-container .box{
    flex:1 1 25rem;
    margin:2rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color:#fff;
    padding-bottom: 2rem;
    font-weight: normal;
}

.footer .box-container .box p{
    font-size: 1.5rem;
    color:#ccc;
    padding:1rem 0;
}

.footer .box-container .box p i{
    padding-right: 1rem;
    color:var(--red);
}

.footer .box-container .box a{
    font-size: 1.5rem;
    color:#ccc;
    padding:1rem 0;
    display: block;
}

.footer .box-container .box a:hover{
    color:var(--red);
}

.footer .box-container .box .share{
    display: flex;
    flex-wrap: wrap;
    padding:1rem 0;
}

.footer .box-container .box .share a{
    height:4rem;
    width:4rem;
    line-height: 2rem;
    text-align: center;
    border-radius: 5rem;
    border:.1rem solid #fff;
    margin-right: 1rem;
}

.footer .box-container .box .share a:hover{
    background:#fff;
}

.footer .credit{
    padding:2rem 1rem;
    text-align: center;
    color:#fff;
    font-weight: normal;
    font-size: 2rem;
    border-top: .1rem solid #fff;
}

.footer .credit a{
    color: #fff;
}

.scroll-top{
    position: fixed;
    bottom:7.5rem; 
    right:2rem;
    z-index: 100;
    display: none;
}

.scroll-top img{
    height: 7rem;
}


/* media queries  */

@media (max-width:991px){
    html{
        font-size: 55%;
    }
}
@media (max-width:768px){
    .footer .box-container .box {
        text-align: center;
        justify-content: space-around;
    }
    .footer .box-container .box{
        flex-direction: column;
    }
}
@media (max-width:500px){
    html{
        font-size: 50%;
    }
    section{
        padding:0 3%;
        padding-top: 9rem;
    }
}