* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}

div {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.container {
  overflow: hidden;
  background-color: rgb(41, 37, 37);
  height: 400px;
  width: 100px;
  border-radius: 40px;
  position: relative;
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  box-shadow: inset -20px -20px 20px rgba(0, 0, 0, 0.3), 0px 420px 0 400px #6db3ed,
    inset 20px 20px 20px rgba(0, 0, 0, 0.1);
  animation: slider 5s ease-in-out infinite;
}

.container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  border-radius: 40px;
  box-shadow: 40px 40px 30px rgba(0, 0, 0, 0.1), -40px -40px 30px rgba(),
    inset -20px -20px 10px rgba(0, 0, 0, 0.2),
    inset 20px 20px 20px rgba(0, 0, 0, 0.1);
}


@keyframes slider {
  0% {
    transform: translateY(350px);
    filter: hue-rotate(0deg);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(350px);
    filter: hue-rotate(180deg);
  }
}