*{
    padding: 0;
    margin: 0;
  }
  
  body{
    position: relative;
    background-color:  #fafafa;
    font-family: sans-serif;
  }
h1 {
    color: #797979;
}
  button{
    padding: 8px;
    outline: none;
    cursor: pointer;
    font-family: inherit;
    border-radius: 5px;
    background: rgb(7, 52, 78);
    border: 1px solid lightgray;
    color: #fff;
  }
  
  button:hover{
    color: #2a2a2a;
    background-color: lightgray;
  }
  
  #card{
    position: fixed;
    z-index: 1;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  #inner-text{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  #inner-text textarea{
    width: 276px;
    height: 276px;
    padding: 25px;
    outline: none;
    resize: none;
    font-size: 1.5rem;
    font-family: inherit;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.9);
  }
  
  #inner-text i{
    font-size: 1.4rem;
    color: gray;
    cursor: pointer;
    margin-top: -285px;
    margin-left: -35px;
    transition: 1s ease-in-out;
  }
  
  #inner-text i:hover{
    color: lightgray;
  }
  
  .container{
    width: 1280px;
    margin: auto;
  }
  
  #header{
    color: white;
    padding: 0 20px;
    min-height: 70px;
    text-shadow: 1px 1px black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  .fas{
    color: #c2ff3d;
  }
  
  #all_notes{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 10px;
  }
  
  .note{
    width:300px;
    height: 300px;
    transition: 2s;
    cursor: pointer;
    overflow-wrap: break-word;
    box-shadow: 0px 10px 24px 0px rgba(0,0,0,0.75);
  }
  
  .note h1{
    font-size: 1.5rem;
    color: #2a2a2a;
  }
  
  .details {
    margin-top: 25px;
    padding: 0 15px;
    font-size: 1.5rem;
  }
  
  .details i{
    color: whitesmoke;
    cursor: pointer;
    text-shadow: 1px 1px #BBB;
  }
  
  @media(max-width:1280px){
    .container{
      width: 100%;
    }
  }
  
  @media(max-width:768px){
    #header{
      padding: 20px;
      gap: 10px;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }