body {
    height: 100vh;
    display: grid;
    place-items: center;
    overflow: hidden;
        background: linear-gradient(285deg,#608636,#124bdd,#58b00f,#8318ab,#f88c0d,#4fb6ca);
        background-size: 360% 360%;
        animation: gradient-animation 30s ease infinite;
      
}

@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.container {
    background: rgb(255, 255, 255);
    width: 700px;
    padding: 3rem;
    border-radius: 50px;
    display: inline-block;
    box-shadow: 0 0 20px 22px rgba(0, 0, 0, 0.2);
}
.hotspot {
    border-radius: 10px;
    border: 5px dashed #aaaaaa;
    width: 100%;
    display: grid;
    padding: 2rem;
    place-content: center;
    display: grid;
    place-items: center;
    box-sizing: border-box;
}

.active {
    border: 3px solid #4b4b4b;
    background: linear-gradient(59deg,#61252b,#cb44ad,#ab4bbd,#ea544a,#a6def1,#121020);
  background-size: 360% 360%;
}

.hotspot .instruction {
    text-align: center;
    font-weight: 500;
    color: #443f46;
    margin-top: 1rem;
}

.progressBar {
    background: #000000;
    width: 0%;
    height: 20px;
    display: none;
    border-radius: 20px;
    transition: all 0.2s;
}
.hotspot label {
    background: #000000;
    border-radius: 2px;
    padding: 0.7rem 1.8rem;
    color: #fff;
    cursor: pointer;
}

.data {
    display: none;
}

.divider {
    width: 100px;
    background: #949494;
    height: 1px;
}

.divide {
    display: flex;
    margin: 0.5rem;
    align-items: center;
}

.or {
    margin: 0 1rem;
    color: #514c53;
}

.watermark >a{
    color: white;
    text-decoration: none;
}

