* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 360px;
    margin: 100px auto;
    color: #212529;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.login-form  {
    margin-bottom: 20px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 40px 30px;
 }
.heading {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 25px;
}
.login-form .input {
    display: block;
    width: 100%;
    height: 2.8rem;
    margin-bottom: 1.2rem;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    outline: none;
}
.btn {
    min-height: 38px;
    border-radius: 2px;        
    font-size: 15px;
    font-weight: bold;
    display: block;
    width: 100%;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
}
.btn:hover {
    background-color: #0268d4;
}
.row {
    display: block;
    margin-top: 20px;
}
.checkbox {
    float: left;
}
.forgot-pass {
    float: right;
    text-decoration: none;
}
.signUp {
    text-align: center;
}
.signUp a {
    text-decoration: none;
}