*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Fira Sans', sans-serif;
}
body{
    background: color #e3edf7;;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;


}

.skills{

    width: 160px;
    height: 160px;
   /* background-color:slateblue;*/

    position: relative;


}

.outside-circle{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    padding: 20px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
            -6px -6px 10px -1px rgba(225, 225, 225, 0.7);
}

.inside-circle{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
                inset -4px -4px 6px -1px rgba(225, 225, 225, 0.7),
                -0.5px -0.5px 0px rgba(225, 225, 225, 1),
                0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
                0px 12px 10px -10px rgba(0, 0, 0, 0.05);

}
#progress{
    font-weight: 800px;
    font-size: large;
    color: #555;
}

circle{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: anim 2s linear forwards;


}
svg{
    position: absolute;
    top: 0px;
    left: 0px;
}
@keyframes anim {
    100%{
        stroke-dashoffset: 118;
    }
        
}