body {
  background-color: #fbfcfd;
}

.wrapper {
  height: 300px;
  width: 250px;
  overflow: auto;
}

.corner {
  height: 15px;
  position: absolute;
  left: 240px;
  top: 10px;
  cursor:pointer;
}

h2 {
  text-align: center;
}

.settingsHeader {
  margin-top: 10px;
}

/* Coin Flip Page Styling */
#result {
  text-align: center;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 16px;
}

#newCoin {
  height: 100px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  display: block;
  position: relative;
  transition: -webkit-transform 1s ease-in;
  transform-style: preserve-3d;
}

#button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 30px;
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#button:hover {
  background-color: #707070;
}

#newCoin div {
  border-radius: 50%;
  height: 100%;
  width: 100%;
  position: absolute;
  backface-visibility: hidden;
  box-shadow: inset 0 0 45px rgba(255, 255, 255, .3), 0 12px 20px -10px rgba(0, 0, 0, .4);
}

#side-a {
  z-index: 100;
}

#side-b {
  transform: rotateY(-180deg);
}

/* Animation Styling */
.Heads {
  animation: flipHeads 3s ease-out forwards;
}

.Tails {
  animation: flipTails 3s ease-out forwards;
}

.coinface {
  border-radius: 50%;
  height: 100%;
  width: 100%;
  position: absolute;
}

@keyframes flipHeads {
  from {
    transform: rotateY(0);
  }

  to {
    transform: rotateY(1800deg);
  }
}

@keyframes flipTails {
  from {
    transform: rotateY(0);
  }

  to {
    transform: rotateY(1980deg);
  }
}

/* Settings Styling */
.name {
  border-radius: 5px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 100;
  padding: 5px 9px;
  background-color: #f2f2f2;
  width: 92%;
  height: 20px;
  border-style: solid;
  border-width: .5px;
  border-color: lightgray;
}

.name:hover {
  background-color: #efefef;
  border-color: #adadad;
}

.settingsLabel {
  text-decoration: none;
  color: black;
}

.corner {
  height: 20px;
  position: absolute;
  left: 237px;
  top: 8px;
}

#restore {
  display: block;
  background-color: lightgray;
  color: black;
  font-size: 12px;
  padding: 6px 12px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#restore:hover {
  background-color: #c6c6c6;
  border-style: solid;
  border-width: .5px;
  border-color: gray;
}

/* Coin Face Styling */
.coin {
  height: 90px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 0px;
  cursor: pointer;
  border-radius: 5px;
}

.coin:hover {
  border-style: solid;
  border-width: .5px;
  border-color: lightgray;
  background-color: #f2f2f2;
}

#pound {
  margin-top: 5px;
}

.label {
  text-align: center;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  overflow: inherit;
  font-size: 14px;
}

/* Authenticity Styling */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.container:hover input~.checkmark {
  background-color: #ccc;
}

.container input:checked~.checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked~.checkmark:after {
  display: block;
}

.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
